<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/particles.css">
    <title>Home</title>
    <link href='css/download.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="particles-js" style="background-color: #4d94ff "></div> 
	<nav class="navbar navbar-expand-lg navbar-dark" style = "background: linear-gradient(#0052cc,#4d94ff)">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="      navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="signup">Sign Up</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="upload" style="color :#0052cc">Upload</a>
            <a class="dropdown-item" href="download" style="color :#0052cc">Download</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/delete-account" style="color :#c00">Delete Account</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="float-right">
        <% if(typeof username == 'undefined') {%>
        <a class="navbar-brand" href="login">Log In</a>
        <% } else { %>
        <span class = "navbar-brand"> Welcome, <%= username %> </span>
        <a class="navbar-brand" href="logout">Log Out</a>
        <% } %>
    </div>
  </nav>
  <div class = "content">
  <h3>Download here</h3><br>
  <div class="downloads" >
	<% data.forEach(function(element){ %>
	<div class="download-block"> 
    <span class="download-filename"><%= element %></span>
    <div class="dropdown2">
      <button onclick="myFunction()" class="dropbtn">&#8801</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="download/<%= element %>">Download</a>
        <form method="GET" action="/rename/<%= element %>">
          <fieldset>
            <legend style="font-size: 16px;color: black">Rename : </legend>
            <input type="text" name="rename" placeholder="Enter filename" class="input-text"><br>
            <input type="submit" value="submit">
          </fieldset>
        </form>
        <a href="delete/<%= element %>">Delete</a>
      </div>
    </div>
  </div>
	<% }); %>
  </div>
  </div>

  <script src="../javascript/jquery.js"></script>
  <script src="../javascript/bootstrap.js"></script>
  <script src = "../javascript/particles.js"></script>
  <script src = "../javascript/appDownload.js"></script>
</body>
</html>